In [3]:
import pandas as pd
# Load the data from both CSV files
data1 = pd.read_csv('/Users/vloya1/Downloads/ChicagoTemperatures.csv') # This file contains tmax and tmin
data2 = pd.read_csv('/Users/vloya1/Downloads/merged_rides_with_elevation.csv') # This file needs tmax and tmin added
data1['started_at'] = pd.to_datetime(data1['DATE'])
data2['started_at'] = pd.to_datetime(data2['started_at'])
# Convert datetime to date-only format (yyyy-mm-dd)
data1['started_at'] = data1['started_at'].dt.date
data2['started_at'] = data2['started_at'].dt.date
merged_data = pd.merge(data2, data1[['started_at', 'TMAX', 'TMIN']], on='started_at', how='left')
# Check the first few rows of the merged data
print(merged_data.head())

            ride_id  rideable_type  started_at         ended_at  \
0  C2F7DD78E82EC875  electric_bike  2022-01-13  1/13/2022 12:02
1  A6CF8980A652D272  electric_bike  2022-01-10   1/10/2022 8:46
2  BD0F91DFF741C66D   classic_bike  2022-01-25   1/25/2022 4:58
3  CBB80ED419105406   classic_bike  2022-01-04    1/4/2022 0:33
4  DDC963BFDDA51EEA   classic_bike  2022-01-20   1/20/2022 1:37

              start_station_name start_station_id  \
0       Glenwood Ave & Touhy Ave              525
1       Glenwood Ave & Touhy Ave              525
2  Sheffield Ave & Fullerton Ave     TA1306000016
3       Clark St & Bryn Mawr Ave     KA1504000151
4    Michigan Ave & Jackson Blvd     TA1309000002

                end_station_name end_station_id  start_lat  start_lng  ...  \
0           Clark St & Touhy Ave         RP-007  42.012800 -87.665906  ...
1           Clark St & Touhy Ave         RP-007  42.012763 -87.665967  ...
2  Greenview Ave & Fullerton Ave   TA1307000001  41.925602 -87.653708  ...
3      Paulina St & Montrose Ave   TA1309000021  41.983593 -87.669154  ...
4         State St & Randolph St   TA1305000029  41.877850 -87.624080  ...

   End_Altitude  end_altitude end_Altitude  Start_Altutude  State_Altitude  \
0         603.6           NaN          NaN             NaN             NaN
1         603.6           NaN          NaN             NaN             NaN
2         592.5           NaN          NaN             NaN             NaN
3         598.1           NaN          NaN             NaN             NaN
4         594.7           NaN          NaN             NaN             NaN

   Elevation_Change  TMAX_x  TMIN_x  TMAX_y  TMIN_y
0             419.5      41      29      41      29
1             419.0      20       8      20       8
2             410.8      15       2      15       2
3             415.2      36      24      36      24
4             412.2      22       9      22       9

[5 rows x 24 columns]

In [5]:
# Count NaNs in the 'tmax' column
na_count_tmax = merged_data['TMAX_x'].isna().sum()
# Count NaNs in the 'tmin' column
na_count_tmin = merged_data['TMIN_x'].isna().sum()
# Print the counts
print("Total NaNs in 'tmax' column:", na_count_tmax)
print("Total NaNs in 'tmin' column:", na_count_tmin)

Total NaNs in 'tmax' column: 0
Total NaNs in 'tmin' column: 0

In [ ]:
merged_data.to_csv('/Users/vloya1/Downloads/merged_rides_with_weather.csv', index=False)